.get-location-button {
    margin: 1vh;
    width: 15vw;
    font-weight: bold;
    color: white;
    background: rgb(90, 90, 90);
    padding: 8px;
    border-radius: 25px;
    box-shadow: inset 0 0 10px black;
    outline:none;
}